
@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
