.header__wrapper {
  background-image: url(../img/header-bg-320.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__iconBox {
  @include flex(row, space-between, flex-start);
  padding: 1rem 1rem 0;
  margin-bottom: 18px;
}

.header__logoLink {
}

.header__logoLink--img {
  width: 44px;
  height: 15px;
}

.header__menu--icon {
  fill: $text-color-white;
  width: 20px;
  height: 15px;
}

.header__icon {
  display: none;

  &--01 {
    @include font($text-color-white, 13.46, none);
    font-family: "Futura", sans-serif;
    font-weight: 700;
  }

  &--02 {
    @include font($text-color-white, 7.85, none);
    font-family: "Futura", sans-serif;
    font-weight: 500;
  }
}

.header__social {
  display: none;

  &--link {
    list-style-type: none;
  }

  &--icon {
    width: 15px;
    height: 15px;
    fill: $text-color-white;
  }
}

.header__container {
  padding: 0 1rem 26px;
  margin: 0 auto;
  text-align: center;
}

.header__title--box {
  margin-bottom: 75px;
}

.header__slogan {
  @extend %Acrom-ExtraBold;
  @include font($text-color-white, 20, uppercase);
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.3;

  &--part1 {
    display: block;
  }

  &--part2 {
    &::after {
      content: '';
      display: inline-block;
      width: 5px;
      height: 2px;
      background-color: $text-color-white;
      vertical-align: middle;
      margin-right: 2px;
    }
  }
}

.header__video--info {
  text-align: left;
  font-size: 0;
  margin: 0 auto;

  &::before {
    content: '<';
    @extend %Acrom-ExtraBold;
    @include font($blue, 9, uppercase);
    vertical-align: top;
    margin-right: 8px;
  }

  &::after {
    content: '/ >';
    @extend %Acrom-ExtraBold;
    @include font($blue, 9, uppercase);
    vertical-align: bottom;
    padding-left: 8px;
  }
}

.header__video--start {
  display: inline-block;
  width: 244px;
  @extend %Acrom-Bold;
  @include font($text-color-white, 9, uppercase);
  line-height: 1.444;
}

.header__salary {
  text-align: left;
  line-height: 1.444;
  padding: 0 1rem;

  &--title {
    @extend %Acrom-ExtraBold;
    @include font($text-color-white, 9, uppercase);
    margin-bottom: 12px;
  }

  &--info {
    @extend %Acrom-Regular;
    @include font($text-color-grey, 9, none);
    margin-bottom: 26px;
  }
}

.header__btn {
  @extend %Button-orange;

  &:hover {
    background-color: rgb(23, 236, 255);
    box-shadow: 0 9px 13px 0 rgba(23, 236, 255, 0.26);
  }

  &:active {
    background-color: rgb(6, 164, 178);
    box-shadow: 0 9px 13px 0 rgba(6, 164, 178, 0.26);
  }
}

@media (min-width: 320px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .header__wrapper {
      background-image: url(../img/header-bg-320@2x.jpg);
    }
  }
}

//MEDIA 480

@media (min-width: 480px) {
  .header__wrapper {
    background-image: url(../img/header-bg-480.jpg);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .header__wrapper {
      background-image: url(../img/header-bg-480@2x.jpg);
    }
  }

  .header__logoLink--img {
    width: 66px;
    height: 23px;
  }

  .header__menu--icon {
    width: 27px;
    height: 18px;
  }

  .header__container {
    padding-bottom: 40px;
  }

  .header__title--box {
    margin-bottom: 130px;
  }

  .header__slogan {
    @include font($text-color-white, 30, uppercase);
    margin-bottom: 40px;

    &--part2 {
      &::after {
        width: 8px;
        height: 3px;
      }
    }
  }

  .header__video--info {
    text-align: center;

    &::before {
      @include font($blue, 13.5, uppercase);
      margin-right: 20px;
    }

    &::after {
      @include font($blue, 13.5, uppercase);
      padding-left: 15px;
    }
  }

  .header__video--start {
    @include font($text-color-white, 13.5, uppercase);
    width: 365px;
  }

  .header__salary {
    margin: 0 auto;
    padding: 0 3rem 0 2.5rem;

    &--title {
      @include font($text-color-white, 13.5, uppercase);
      margin-bottom: 15px;
    }

    &--info {
      @include font($text-color-grey, 13.5, none);
      margin-bottom: 40px;
    }
  }

  .header__btn {
    @include font($text-color-white, 12, uppercase);
    padding: 20px 35px;
  }
}

//!!MEDIA 768px!!

@media (min-width: 768px) {
  .header__wrapper {
    background-image: url(../img/header-bg-768.png);
    position: relative;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .header__wrapper {
      background-image: url(../img/header-bg-768@2x.jpg);
    }
  }

  .header__icon {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 60px;

    &--01 {
      @include font($text-color-white, 13.46, none);
      font-family: "Futura", sans-serif;
      font-weight: 700;
      transform: rotate(-90deg);
    }

    &--02 {
      @include font($text-color-white, 7.85, none);
      font-family: "Futura", sans-serif;
      font-weight: 500;
      padding-left: 30px;
    }
  }

  .header__social {
    display: block;
    position: absolute;
    right: 63px;
    bottom: 140px;

    &--link {
      list-style-type: none;
      display: inline;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    &--icon {
      width: 15px;
      height: 15px;
      fill: $text-color-white;
    }
  }

  .header__iconBox {
    padding: 1rem 63px 0;
    margin-bottom: 30px;
  }

  .header__logoLink--img {
    width: 58px;
    height: 18px;
  }

  .header__menu--icon {
    width: 13px;
    height: 9px;
  }

  .header__container {
    padding: 0 63px 95px;
    margin: 0 auto;
    text-align: left;

    &--box {
      @include flex(row, space-between, flex-start);
    }
  }

  .header__title--box {
    width: 410px;
    height: auto;
    margin-bottom: 28px;
    text-align: left;
  }

  .header__slogan {
    @include font($text-color-white, 44.86, uppercase);
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.15;

    &--part1 {
      display: block;
    }

    &--part2 {
      display: block;

      &::after {
        width: 45px;
        height: 8px;
        margin-left: 21px;
        margin-right: 0;
      }
    }

    &--part3 {
      &::before {
        content: '';
        display: inline-block;
        width: 57px;
        height: 8px;
        background-color: $text-color-white;
        vertical-align: middle;
        margin-right: 24px;
      }
    }
  }

  .header__video--info {
    margin-left: 40px;
    width: 220px;

    &::before {
      @include font($blue, 7.85, uppercase);
      margin-right: 13px;
    }

    &::after {
      @include font($blue, 7.85, uppercase);
      padding-left: 21px;
    }
  }

  .header__video--start {
    @include font($text-color-white, 7.85, uppercase);
    width: 170px;
    line-height: 1.714;
    text-align: left;
  }

  .header__salary {
    width: 146px;
    padding: 10px 0 0;
    margin: 0;

    &--title {
      @include font($text-color-white, 10.09, uppercase);
      margin-bottom: 19px;
    }

    &--info {
      @include font($text-color-grey, 8.97, none);
    }
  }

  .header__btn {
    @include font($text-color-white, 6.4, uppercase);
    margin-left: 60px;
    padding: 11px 15px;
  }
}

//!!MEDIA 960!!

@media (min-width: 960px) {
  .header__wrapper {
    background-image: url(../img/header-bg-960.jpg);
    position: relative;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .header__wrapper {
      background-image: url(../img/header-bg-960@2x.jpg);
    }
  }

  .header__icon {
    display: block;
    position: absolute;
    bottom: 40px;
    left: 78px;

    &--01 {
      @include font($text-color-white, 16.83, none);
    }

    &--02 {
      @include font($text-color-white, 9.81, none);
      padding-left: 35px;
    }
  }

  .header__social {
    right: 80px;
    bottom: 192px;

    &--link {
      margin-right: 20px;
    }

    &--icon {
      width: 15px;
      height: 15px;
    }
  }

  .header__iconBox {
    padding: 1rem 80px 0;
    margin-bottom: 48px;
  }

  .header__logoLink--img {
    width: 71px;
    height: 22px;
  }

  .header__menu--icon {
    width: 16px;
    height: 12px;
  }

  .header__container {
    padding: 0 80px 116px;
  }

  .header__title--box {
    width: 500px;
    margin-bottom: 35px;
  }

  .header__slogan {
    @include font($text-color-white, 56.08, uppercase);
    margin-bottom: 48px;

    &--part2 {
      &::after {
        width: 56px;
        height: 9px;
        margin-left: 27px;
      }
    }

    &--part3 {
      &::before {
        width: 70px;
        height: 9px;
        margin-right: 30px;
      }
    }
  }

  .header__video--info {
    margin-left: 50px;
    width: 275px;

    &::before {
      @include font($blue, 9.81, uppercase);
      margin-right: 13px;
    }

    &::after {
      @include font($blue, 9.81, uppercase);
      padding-left: 21px;
    }
  }

  .header__video--start {
    @include font($text-color-white, 9.81, uppercase);
    width: 220px;
  }

  .header__salary {
    width: 195px;

    &--title {
      @include font($text-color-white, 12.62, uppercase);
      margin-bottom: 24px;
    }

    &--info {
      @include font($text-color-grey, 11.22, none);
    }
  }

  .header__btn {
    @include font($text-color-white, 8, uppercase);
    margin-left: 70px;
    padding: 13px 20px;
  }
}

//!!MEDIA 1200!!!

@media (min-width: 1200px) {
  .header__wrapper {
    background-image: url(../img/header-bg-1200.jpg);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .header__wrapper {
      background-image: url(../img/header-bg-1200@2x.jpg);
    }
  }

  .header__icon {
    bottom: 35px;
    left: 35px;

    &--01 {
      @include font($text-color-white, 15, none);
    }

    &--02 {
      @include font($text-color-white, 8.75, none);
      padding-left: 35px;
    }
  }

  .header__social {
    right: 35px;
    bottom: 35px;

    &--icon {
      width: 12px;
      height: 12px;
    }
  }

  .header__iconBox {
    padding: 23px 35px 0;
    margin-bottom: 50px;
  }

  .header__logoLink--img {
    width: 63px;
    height: 19px;
  }

  .header__menu--icon {
    width: 15px;
    height: 10px;
  }

  .header__container {
    padding: 0 0 95px;
    width: 710px;
  }

  .header__title--box {
    width: 446px;
    margin-bottom: 30px;
  }

  .header__slogan {
    @include font($text-color-white, 50, uppercase);
    margin-bottom: 35px;

    &--part2 {
      &::after {
        width: 50px;
        height: 7px;
        margin-left: 25px;
      }
    }

    &--part3 {
      &::before {
        width: 63px;
        height: 7px;
        margin-right: 26px;
      }
    }
  }

  .header__video--info {
    margin-left: 40px;
    width: 255px;

    &::before {
      @include font($blue, 8.75, uppercase);
      margin-right: 13px;
    }

    &::after {
      @include font($blue, 8.75, uppercase);
      padding-left: 25px;
    }
  }

  .header__video--start {
    @include font($text-color-white, 8.75, uppercase);
    width: 200px;
  }

  .header__salary {
    width: 160px;

    &--title {
      @include font($text-color-white, 11.25, uppercase);
      margin-bottom: 20px;
    }

    &--info {
      @include font($text-color-grey, 10, none);
    }
  }

  .header__btn {
    @include font($text-color-white, 6.88, uppercase);
    padding: 12px 20px;
    margin-left: 60px;
  }
}

//!!MEDIA 1440!!!!

@media (min-width: 1440px) {
  .header__wrapper {
    background-image: url(../img/header-bg-1440.jpg);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .header__wrapper {
      background-image: url(../img/header-bg-1440@2x.jpg);
    }
  }

  .header__icon {
    bottom: 42px;
    left: 42px;

    &--01 {
      @include font($text-color-white, 18, none);
    }

    &--02 {
      @include font($text-color-white, 10.5, none);
      padding-left: 40px;
    }
  }

  .header__social {
    right: 43px;
    bottom: 43px;

    &--icon {
      width: 14px;
      height: 14px;
    }
  }

  .header__iconBox {
    padding: 28px 44px 0;
    margin-bottom: 57px;
  }

  .header__logoLink--img {
    width: 75px;
    height: 23px;
  }

  .header__menu--icon {
    width: 18px;
    height: 12px;
  }

  .header__container {
    padding: 0 0 120px;
    width: 850px;
  }

  .header__title--box {
    width: 531px;
    margin-bottom: 35px;
  }

  .header__slogan {
    @include font($text-color-white, 60, uppercase);
    margin-bottom: 44px;

    &--part2 {
      &::after {
        width: 60px;
        height: 9px;
        margin-left: 30px;
      }
    }

    &--part3 {
      &::before {
        width: 75px;
        height: 9px;
        margin-right: 32px;
      }
    }
  }

  .header__video--info {
    margin-left: 40px;
    width: 300px;

    &::before {
      @include font($blue, 10.5, uppercase);
      margin-right: 17px;
    }

    &::after {
      @include font($blue, 10.5, uppercase);
      padding-left: 25px;
    }
  }

  .header__video--start {
    @include font($text-color-white, 10.5, uppercase);
    width: 225px;
  }

  .header__salary {
    width: 190px;

    &--title {
      @include font($text-color-white, 13.5, uppercase);
      margin-bottom: 25px;
    }

    &--info {
      @include font($text-color-grey, 12, none);
    }
  }

  .header__btn {
    @include font($text-color-white, 10, uppercase);
    padding: 15px 25px;
  }
}
