.sec11-container__flex {
  display: flex;
  flex-wrap: wrap;
}

.sec11-justify-content__center {
  justify-content: center;
}

.sec11-wrapper-container {
  margin: 1rem 1rem 0;
}

.sec11-img-blc__layers {
  position: relative;
  width: 165px;
  height: 165px;
  margin-bottom: 30px;
}

.sec11-img_layer1 {
  position: absolute;
  width: 100px;
  height: auto;
  z-index: 1;
  right: 0;
}

.sec11-img_layer3 {
  position: absolute;
  width: 200px;
  height: auto;
  z-index: 3;
  left: 0;
  bottom: 0;
}

.sec11-img-blc {
  margin-bottom: 40px;
}

.sec11-small-text {
  @extend %Acrom-Medium;
  font-size: 0.6rem;
  line-height: 1.5;
}

.sec11-toptext-blc__span {
  display: block;
  font-weight: 600;
  color: $orange;
  margin-bottom: 16px;
  flex: 0 0 80%;
}

.sec11-toptext-blc__p {
  font-weight: 600;
  margin-bottom: 16px;
  flex: 0 0 70%;
}

.sec11-toptext-blc__before {
  width: 235px;
}

.sec11-toptext-blc__before::before {
  content: "";
  background-color: #000;
  width: 13px;
  height: 2px;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 20px;
}

.sec11-toptext-blc__span-before::before {
  content: '';
  border: 1px solid #000;
  width: 10px;
  height: 0;
  line-height: 10px;
  transform: rotate(-55deg);
  -webkit-transform: rotate(-55deg);
  margin-top: 10px;
  margin-right: 10px;
}

.sec11-toptext-blc_h2-blc {
  margin-bottom: 16px;
}

.sec11-toptext-blc_h2 {
  @extend %Acrom-ExtraBold;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
}

.sec11-sprite__wrapper {
  margin-right: 10px;
  margin-top: 8px;
}

.sec11-sprite {
  background-image: url(../img/sec11_spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sec11-sprite__background {
  width: 6px;
  height: 29px;
  background-color: $orange;
  padding: 2px;
}

.sprite-sec11_001 {
  background-position: -7px -5px;
}

.sprite-sec11_002 {
  background-position: -25px -5px;
}

.sprite-sec11_003 {
  background-position: -44px -5px;
}

.sprite-sec11_004 {
  background-position: -63px -5px;
}

.sprite-sec11_005 {
  background-position: -6px -47px;
}

.sprite-sec11_006 {
  background-position: -44px -47px;
}

.sec11-container-advant__title {
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.sec11-container-advant__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.sec11-container-advant__subtitles {
  font-weight: 700;
  margin-bottom: 10px;
}

.sec11-container-advant__text {
  margin-bottom: 10px;
}

.sec11-container-advant__block {
  margin: auto;
}

@media (max-width: 320px) {
  .sec11-container-advant__block {
    max-width: 190px;
  }
}

@media (max-width: 480px) {
  .sec11-container-advant__block {
    max-width: 280px;
  }
}

@media (min-width: 480px) {
  .sec11-small-text {
    font-size: 0.5rem;
  }

  .sec11-toptext-blc__before {
    width: 315px;
  }

  .sec11-container-advant__title {
    font-size: 12px;
  }

  .sec11-toptext-blc__p, .sec11-container-advant__subtitles, .sec11-toptext-blc__span {
    font-size: 0.8rem;
  }

  .sec11-img-blc__layers {
    width: 250px;
  }

  .sec11-img_layer3 {
    width: 250px;
  }

  .sec11-wrapper-container {
    max-width: 350px;
    margin: 25px auto 0;
  }

  .sec11-container-advant__text {
    font-size: 0.8rem;
  }
}

//!!!!MEDIA 768 !!!

@media (min-width: 768px) {
  .sec11-wrapper-container {
    max-width: 650px;
    justify-content: center;
  }

  .sec11-img-blc {
    width: 580px;
    justify-content: space-between;
  }

  .sec11-toptext-blc {
    flex: 0 0 50%;
  }

  .sec11-img-blc__layers {
    width: 240px;
    height: 220px;
  }

  .sec11-img_layer1 {
    width: 130px;
    height: 200px;
  }

  .sec11-img_layer3 {
    width: 280px;
    height: auto;
  }

  .sec11-container-advant {
    max-width: 640px;
    justify-content: space-between;
  }

  .sec11-container-advant__items {
    flex: 0 0 30%;
  }

  .sec11-container-advant__h2 {
    flex: 0 0 15%;
  }

  .sec11-container-advant__block {
    flex: 0 0 80%;
    justify-content: space-between;
  }

  .sec11-toptext-blc_h2 {
    font-size: 1.7rem;
  }

  .sec11-toptext-blc__before::before {
    width: 30px;
    height: 4px;
    margin-top: 5px;
    margin-right: 20px;
  }

  .sec11-toptext-blc__span-before::before {
    content: '';
    border: 2px solid #000;
    width: 20px;
    height: 0;
    line-height: 20px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .sec11-container-advant__title {
    font-size: 0.7rem;
  }

  .sec11-container-advant__text {
    font-size: 0.5rem;
  }
}

//!!!!!MEDIA 960!!!!

@media (min-width: 960px) {
  .sec11-wrapper-container {
    max-width: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
  }

  .sec11-toptext-blc_h2 {
    font-size: 1.7rem;
  }

  .sec11-img-blc {
    width: 720px;
  }

  .sec11-container-advant {
    max-width: 720px;
  }

  .sec11-toptext-blc__p, .sec11-container-advant__subtitles, .sec11-toptext-blc__span {
    font-size: 0.7rem;
  }

  .sec11-container-advant__title {
    font-size: 0.9rem;
  }
}

//!!!!MEDIA 1200!!!!

@media (min-width: 1200px) {
  .sec11-wrapper-container {
    max-width: 710px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sec11-toptext-blc_h2 {
    font-size: 1.6rem;
  }

  .sec11-toptext-blc__p, .sec11-container-advant__subtitles, .sec11-toptext-blc__span {
    font-size: 0.6rem;
  }

  .sec11-container-advant__title {
    font-size: 0.9rem;
  }
}

//!!!!MEDIA 1440!!!!

@media (min-width: 1440px) {
  .sec11-wrapper-container {
    max-width: 855px;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .sec11-img-blc {
    width: 855px;
  }

  .sec11-container-advant {
    max-width: 855px;
  }

  .sec11-toptext-blc_h2 {
    font-size: 36px;
  }

  .sec11-toptext-blc__before {
    width: 420px;
  }

  .sec11-toptext-blc__p, .sec11-container-advant__subtitles, .sec11-toptext-blc__span {
    font-size: 0.8rem;
  }

  .sec11-container-advant__text {
    font-size: 0.7rem;
  }

  .sec11-container-advant__h2 {
    margin-right: 40px;
  }
}

