@media (min-width: 1200px) {
  .section6 {
    width: 800px;
    margin: auto;
    padding: 50px 0;
  }

  .section6-card__text--right {
    margin-left: 65px;
  }

  .section6-card__title {
    font-size: 30px;
    width: 226px;
  }

  .section6-card__p--right {
    width: 170px;
    font-size: 10px;
  }

  .section6-before {
    width: 295px;
  }

  .section6-before:before {
    width: 30px;
    height: 4px;
  }

  .section6-card__photo--order {
    width: 307px;
    margin-right: 150px;
  }

  .section6-card__box--center {
    width: 340px;
    margin-bottom: 45px;
  }

  .section6-card__title--black {
    font-size: 10px;
  }

  .section6-card__text {
    width: auto;
    font-size: 9px;
  }

  .section6-card__subtitle {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .section6-card__box--bottom {
    width: 340px;
  }

  .section6-card__content{
    width: 180px;
  }

  .section6-card__box--center{
    margin-bottom: 30px;
  }

  .section6-card__box--center:last-child {
    width: 340px;
  }

}
